body {
    color: white;
    display: flex;
    flex-direction: row;
    background-image: url(library.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    display: flex;
    flex-direction: column;
    width: 30%;
}
/*label {
    margin-top: 10px;
}
input {
    margin-top: 10px;
}
select{
    margin-top: 20px;
}*/
#subm {
    width:20%;
}

table {
    display: flex;
    justify-content: center;
    border: 10px;
}