body {
    color: white;
    display: flex;
    flex-direction: row;
    background-image: url(library.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-around;
}
form{
    display: flex;
    flex-direction: column;
    width: 30%;
    
}

input {
    height: 30px;
}
/*label {
    margin-top: 10px;
}
input {
    margin-top: 10px;
}
select{
    margin-top: 20px;
}*/
input {
    height: 25px;
    background-color: rgba(255, 255, 255, 0.856);
    outline: none;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}

select{
    height: 27px;
    background-color: rgba(255, 255, 255, 0.856);
    outline: none;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}
#subm {
    width:30%;
    margin-left:130px;
}

table {
    display: flex;
    justify-content: center;
    border: 20px;
    width: 50%;
    background-color:rgba(175, 150, 104, 0.486);
    font-size: 20px;
    border-color: black;
    color: white;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    }
.radio_type {
display: flex;
flex-direction:row;
justify-content: space-around;
}

FORM {
    background-color:rgba(175, 150, 104, 0.486);
    width: 400px;
    padding: 30px;
    border-radius: 10px;
}
